{% load static %}


<!-- Footer -->
		<footer id="footer" class="footer-style-2">
			<div class="footer-widget">
				<div class="container">

					<div class="widget widget-newsletter">
						<div class="widget-title">
							<h5>Subscribe to our Newsletter</h5>
						</div>

						<form>
							<input type="text" class="field-input" placeholder="Enter email...">
							<input type="submit" class="subscribe-btn "  value="Sign Up">
						</form>
					</div>

				</div>
			</div>

			<div class="copyright-sec">
				<div class="container">
					<p>© 2020 FoodBakery. All Rights Reserved.</p>
				</div>
			</div>
		</footer>
